# Python
__pycache__/
*.pyc

# Env
.env
*.env
*/.env


# IDE
.vscode/
.idea/

# macOS
.DS_Store

# Archives
*.zip
*.tar.gz

# test folder
test/*
**/test/*

# data folder
dataset/*
**/dataset/*

# mac specific
.DS_Store
._*SYS-304_00050_Scalable_infrastructure_create_and_deploy_a _website_serving_ML_model.pdf
