# Python
__pycache__/
*.pyc

# Env
.env
*.env
*/.env


# IDE
.vscode/
.idea/

# macOS
.DS_Store

# Archives
*.zip
*.tar.gz

# test folder
*/test/

# data folder
*/dataset/

# mac specific
.DS_Store
._*